body {
    height: 100%;
    color: whitesmoke;
    background-color: whitesmoke;
    font-family: Trebuchet MS, sans-serif;
}
body::before {
    content: "";
    position: fixed;
    background-image: linear-gradient(rgba(25, 25, 25, 0.4), rgba(25, 25, 25, 0.35)), url(img/plataforms.png);
    background-position: center;
    background-size: cover;
    top: 0; left: 0; right: 0; bottom: 0;
    margin: -10px;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    z-index: -1;
}
form {
    width: 60vw;
    max-width: 500px;
    min-width: 300px;
    margin: 25px auto;
    padding: 2px;
    border: 2px groove #aab7c0;
    border-radius: 15px;
    background-color: rgba(34, 41, 47, 0.8);
    z-index: 2;
}
img {
    display: block;
    width: 20vw;
    margin: 0 auto;
}
.subtitle {
    text-align: center;
    font-family: sans-serif;
}
.cb, .top, .button {
    display: block;
}
.top::selection, .box::selection {
    color: white;
    background: #19df64;
}
#dropdown {
    width: 7em;
    height: 1.5em;
    border: 1px solid lightgray;
    font-size: 1em;
    background-color: whitesmoke;
    border-radius: 5px;
    outline: none;
}
.cb {
    position: relative;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
    padding-left: 1.5em;
    margin: 5px;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
.cb input {
    cursor: pointer;
    opacity: 0;
    position: absolute;
    height: 0;
    width: 0;
}
.greencheck {
    background-color: grey;
    position: absolute;
    top: 0;
    left: 0;
    height: 1em;
    width: 1em;
}
.cb:hover input ~ .greencheck {
    background-color: #ccc;
}
.cb input:checked ~ .greencheck {
    background-color: #19df64;
  }
.greencheck::after {
    content: "";
    display: none;
    position: absolute;
}
.cb input:checked ~ .greencheck:after {
    display: block;
    top: 0;
    left: 4px;
}
.cb .greencheck::after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#name-label, #email-label, #number-label {
    margin: 1em 0;
    height: 1em;
}
label[for="checkbox"] {
    margin: 2px 0;
}
.top, textarea {
    width: 100%;
    min-height: 2em;
    border-radius: 5px;
}
.box {
    height: 8em;
}
div {
    padding: 0 1em 1em 1em;
}
button {
    margin: 1em auto 0 auto;
    padding: 5px;
    font-size: 1.5em;
    width: 25%;
    height: 2em;
    border-color: #fbfc7d;
    background-color: #fd6130;
    color: whitesmoke;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px #999;font-family: Impact, 'Arial Narrow Bold', sans-serif;
}
button:hover {
    background-color: #b9421d;
    border-color: #fd6130;
}
button:active {
    box-shadow: 0 2px #333;
    transform: translateY(4px);}
hr {
    background-color: #aab7c0;
    border: none;
    height: 1px;
}